/* .wrapper {
  max-width: 120rem;
  margin: 0px auto;
  width: calc(100vw - 5%);
  border: 1px solid black;
  border-radius: 5px;
}

.container {
  width: calc(100vw - 10%);
  max-width: 110rem;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px auto;
  padding: 0px 1rem;
} */
